<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gemini://proxy</title>
    <!-- <link rel="manifest" href="manifest.json"> -->
    <!-- <link rel="icon" href="favicon.ico">
         <script defer src="script.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <h2 class="title"><a href="/">gemini://proxy</a></h2>
    <form class="top-form" action="/go" method="get">
      <input class="text-input" title="URL" type="url" name="url" value="{{ url }}">
      <input type="submit" value="Go!">
    </form>
